* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
}

img {
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.btn, .search-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.btn {
  padding: 5px 15px;
  border: none;
  border-radius: 100px;
}
/* ============================ top */
.top {
  background-color: #00ab6b;
  position: fixed;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 0;
}
.title {
  font-family: script;
  font-size: 24px;
  color: #fff;
}

/* ============================ main */
.main {
  padding-top: 100px;
  padding-bottom: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 auto;
}
.photo-card {
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(99, 99, 99, 0.55);
  -moz-box-shadow: 4px 4px 8px 0px rgba(99, 99, 99, 0.55);
  box-shadow: 4px 4px 8px 0px rgba(99, 99, 99, 0.55);
  overflow: hidden;
}
.photo-thumb {
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;
}
.photo-thumb img {
  object-fit: cover;
}
.info {
  display: flex;
  gap: 5px;
  margin: 10px 5px;
  font-size: 14px;
}
.info-item {
  text-align: center;
}

/* ============================ bottom */
.bottom {
  padding-bottom: 20px;
  background-color: #00ab6b;
}
.bottom .container {
  margin: 0 auto;
}
/* ============================ media */
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
  .photo-card {
    width: 360px;
  }
  .photo-thumb {
    height: 270px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .search-form {
    order: 0;
  }
  .title {
    order: 1;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
